.list {
  background: var(--theme);
}

/* main wrapper and its children */
.main {
  min-height: var(--main-height);
  margin: 0 auto;
  padding: 0 var(--gap);

  font-family: var(--font-serif);
  letter-spacing: -0.01rem;

  .not-found {
    position: unset;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;

    font-family: 'HBIOS-SYS', var(--font-sans);
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    color: var(--primary);
    text-align: center;

    p {
      flex-basis: 100%;
      margin: 3rem auto;

      font-size: var(--font-size-medium);
      font-weight: normal;
      text-align: justify;
      word-break: break-word;

      > a {
        color: var(--primary);
      }
    }
  }

  .profile {
    margin: 0;

    &,
    .profile_inner {
      margin-top: calc(var(--main-height) * 0.2);
      align-items: flex-start;
      justify-content: flex-start;
      text-align: justify;
      word-break: break-word;
      min-height: fit-content;
    }

    span {
      font-family: var(--font-serif);
      padding-right: 30%;
    }
  }

  .post-content {
    text-align: justify;

    p,
    span {
      font-size: var(--font-size-medium);
      line-height: 160%;
    }

    li {
      margin-top: calc(var(--content-gap) / 4)
    }

    code,
    code span {
      font-size: var(--font-size-small);
    }
  
    figure > figcaption,
    figcaption {
      width: 80%;
      margin: 0.5rem auto;
  
      text-align: right;
      font-family: var(--font-sans);
  
      &,
      > p {
        font-size: var(--font-size-xsmall);
      }
    }
  
    .youtube {
      margin: auto;
      width: calc(var(--main-width) * 0.8);
      height: calc(var(--main-width) * 0.45);
      overflow: hidden;
      margin: 0.2rem auto;
    }
  
    .youtube > iframe,
    iframe {
      display: block;
      position: absolute;
      width: calc(var(--main-width) * 0.8);
      height: calc(var(--main-width) * 0.45);
      border: 1px solid var(--border);
      margin: 0.2rem auto;
    }
  
    .highlight {
      &,
      pre,
      pre code {
        font-family: var(--font-mono);
        border-radius: var(--radius);
        white-space: pre-wrap;
      }
    }
  
    .footnotes {
      hr {
        height: 0;
        border-top: 1px dotted var(--tertiary);
        background: none;
        margin: calc(var(--content-gap) * 2) var(--content-gap);
      }
  
      ol,
      ol p {
        font-size: var(--font-size-small);
        margin-bottom: 0;
      }
    }
  }

  .archive-entry .entry-hint-parent {
    justify-content: flex-start;
  }
}

.header,
.footer,
.nav,
.paginav {
  font-family: var(--font-sans);
  letter-spacing: -0.02rem;
}

.footer {
  margin: 0 auto;
  padding: var(--gap);
}

.main .not-found,
.main .post-content,
.footer {
  a {
    box-shadow: none;
    border-bottom: none !important;
    text-decoration: dotted underline var(--primary) 1px;

    &:hover {
      text-decoration: solid underline var(--primary) 1px;
    }
    
    /* from https://stackoverflow.com/a/5379820 */
    /* automatic external link marker */
    &[href]:not(:where(
      [href^="#"],
      [href^="javascript:"],
      [href^="/"]:not([href^="//"]),
      [href*="//sidlibrary.org"],
      [href*="//www.sidlibrary.org"]
    ))::after {
      content: '';
      background: no-repeat url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cstyle%3E g%7Bstroke:%23101820;stroke-width:1;%7D %3C/style%3E%3Cg%3E%3Cline x1='5' y1='5' x2='5' y2='14' /%3E%3Cline x1='14' y1='9' x2='14' y2='14' /%3E%3Cline x1='5' y1='14' x2='14' y2='14' /%3E%3Cline x1='5' y1='5' x2='9' y2='5' /%3E%3Cline x1='10' y1='2' x2='17' y2='2' /%3E%3Cline x1='17' y1='2' x2='17' y2='9' /%3E%3Cline x1='10' y1='9' x2='17' y2='2' style='stroke-width:1.5' /%3E%3C/g%3E%3C/svg%3E");
      padding-right: 0.7rem;
    }
  }

  .copyright {
    margin-top: 0.5rem;
  }
}

.nav {
  &,
  .logo {
    justify-content: space-between;
  }

  .logo {
    a {
      margin: auto 0;
      line-height: 120%;
    }

    .logo-switches {
      flex-wrap: nowrap;
      align-content: center;
      margin: auto 14px;

      .lang-switch {
        ul,
        li {
          text-wrap: nowrap;
          white-space: nowrap;
        }

        a {
          margin: 0;
        }
      }
    }
  }

  &::after {
    background-color: var(--accent);
    content: "";
    height: 1px;
    left: 0;
    position: relative;
    width: 100%;
  }
}

/* dark mode specifics */
.dark {
  .main .not-found {
    a[href]:not(:where(
      [href^="#"],
      [href^="javascript:"],
      [href^="/"]:not([href^="//"]),
      [href*="//sidlibrary.org"],
      [href*="//www.sidlibrary.org"]
    ))::after {
      content: '';
      background: no-repeat url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cstyle%3E g%7Bstroke:%2366ff66;stroke-width:1;%7D %3C/style%3E%3Cg%3E%3Cline x1='5' y1='5' x2='5' y2='14' /%3E%3Cline x1='14' y1='9' x2='14' y2='14' /%3E%3Cline x1='5' y1='14' x2='14' y2='14' /%3E%3Cline x1='5' y1='5' x2='9' y2='5' /%3E%3Cline x1='10' y1='2' x2='17' y2='2' /%3E%3Cline x1='17' y1='2' x2='17' y2='9' /%3E%3Cline x1='10' y1='9' x2='17' y2='2' style='stroke-width:1.5' /%3E%3C/g%3E%3C/svg%3E");
      padding-right: 0.7rem;
    }
  }

  .post-content,
  .footer {
    a[href]:not(:where(
      [href^="#"],
      [href^="javascript:"],
      [href^="/"]:not([href^="//"]),
      [href*="//sidlibrary.org"],
      [href*="//www.sidlibrary.org"]
    ))::after {
      content: '';
      background: no-repeat url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cstyle%3E g%7Bstroke:%23f1f3f3;stroke-width:1;%7D %3C/style%3E%3Cg%3E%3Cline x1='5' y1='5' x2='5' y2='14' /%3E%3Cline x1='14' y1='9' x2='14' y2='14' /%3E%3Cline x1='5' y1='14' x2='14' y2='14' /%3E%3Cline x1='5' y1='5' x2='9' y2='5' /%3E%3Cline x1='10' y1='2' x2='17' y2='2' /%3E%3Cline x1='17' y1='2' x2='17' y2='9' /%3E%3Cline x1='10' y1='9' x2='17' y2='2' style='stroke-width:1.5' /%3E%3C/g%3E%3C/svg%3E");
      padding-right: 0.7rem;
    }
  }
}

#menu {
  flex-flow: row nowrap;
}

img {
  max-width: 80%;

  &[src*="#center"] {
    margin: 0.2rem auto !important;
  }
}

/* on mobile */
@media screen and (max-width: 821px) {
  .nav .logo {
    flex-basis: 100%;

    a {
      max-width: 80%;
    }

    .logo-switches {
      margin: auto 4px;
    }
  }

  .main {
    .profile,
    .profile .profile_inner {
      text-align: left;

      h1 {
        padding-right: 20%;
      }

      span {
        text-align: justify;
        padding-right: 0;
      }
    }

    .post-content {
      figure > figcaption,
      figcaption {
        width: 96vw;
        margin: 0.5rem auto;
    
        text-align: right;
        font-family: var(--font-sans);
    
        &,
        > p {
          font-size: var(--font-size-2xsmall);
        }
      }

      .youtube {
        margin: auto;
        width: 96vw;
        height: 54vw;
        overflow: hidden;
        margin: 0.2rem auto;
      }
    
      .youtube > iframe,
      iframe {
        display: block;
        position: absolute;
        width: 96vw;
        height: 54vw;
        border: 1px solid var(--border);
        margin: 0.2rem auto;
      }
    }
  }
  
  footer span {
    font-size: var(--font-size-2xsmall);
  }

  #menu {
    margin: auto;
  }

  #top-link {
    opacity: 0.67 !important;
  }
}
